<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">CCC</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="computeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Compute
        </a>
        <div class="dropdown-menu" aria-labelledby="computeDropdown">
          <a class="dropdown-item" href="/ec2">EC2</a>
          <!-- <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="storageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Storage
        </a>
        <div class="dropdown-menu" aria-labelledby="storageDropdown">
          <a class="dropdown-item" href="#">S3</a>
          <a class="dropdown-item" href="#">EFS</a>
          <a class="dropdown-item" href="#">FSx</a>
          <a class="dropdown-item" href="#">S3 Glacier</a>
          <a class="dropdown-item" href="#">AWS Backup</a>
        </div>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="regionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true">
          Region: {{currentRegion}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="regionDropdown">
          <button *ngFor="let r of allRegions" class="dropdown-item" (click)="selectRegion(r)"> {{ r }} </button>
        </div>
      </li>
    </ul>

  </div>

</nav>