<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" routerLink="home">
    <img src="../../assets/cloud.png" width="45" height="30">
  </a>
  <div class="navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="ec2" routerLinkActive="active" href="#"><b>EC2</b></a>
      <a class="nav-item nav-link" routerLink="s3" routerLinkActive="active" href="#"><b>S3</b></a>
      <a class="nav-item nav-link" routerLink="rds" routerLinkActive="active" href="#"><b>RDS</b></a>
    </div>
  </div>
  <div>
    <a type="button" class="btn btn-outline-info" routerLink="inventory" routerLinkActive="active">Inventory</a>
  </div>
</nav>
